@import "common-variables";

.side-nav {
  position: relative;
  width: $sideWidth;
  height: 100%;
  overflow: auto;
  background-color: $logoBG;
  > ul.el-menu {
    width: 100%;
    background-color: inherit;
    border: none;
    .el-menu-item {
      height: 46px;
      line-height: 46px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:focus, &:hover, &.is-active {
        background-color: rgba(67, 74, 80, 1.0);
      }
    }
    .el-submenu {
      > .el-menu {
        background-color: $logoBG;
      }
      .el-submenu__title {
        height: 46px;
        line-height: 46px;
        background-color: $logoBG;
        &:hover {
          background-color: rgba(67, 74, 80, 1.0);
        }
      }
    }
  }
}
